#################################################################################
#
#  SNMPv3 CREDENTIALS
#
# Created by: Alex Martins
#
# Last Update on: FEB-21-2016
#
#################################################################################
snmp = {}
snmp['auth'] = "SHA"
snmp['authPass'] = "password"
snmp['priv'] = "AES"
snmp['privPass'] = "password"